body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*--------------------------- Header -----------------------*/


header{
    width: 100%;
    height: 250px;
    background-color: rgba(177, 157, 157, 0.61);
    box-shadow: 0 0 10px black, 0 0 20px black, inset 0 0 15px black;
}

.header-container{
    max-width: 1990px;
    width: 100%;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-container{
    max-width: 1990px;
    width: 50%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list{
    max-width: 600px;
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
}

/*--------------------------- End Header ----------------------*/

/*------------------------- section-1 ------------------------*/


.section-1-container{
    max-width: 1990px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(177, 157, 157, 0.61);
    box-shadow: 0 0 10px black, 0 0 20px black, inset 0 0 15px black;
}

.headline{
    max-width: 600px;
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 50px;
    margin-top: 10px;
}

.food-container{
    max-width: 1990px;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.food-choice{
    width: 250px;
    height: 280px;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    margin: 50px;
    /* animation: imgZoom 3.5s ease infinite; */
}

.food-pics{
    width: 250px;
    height: 250px;
    margin-top: 20px;
    border: 10px solid black;
    object-fit: cover;
    /*animation: imgZoom 3.5s ease infinite;*/
}

@keyframes imgZoom{
    0% {transform: scale(1) rotate(0deg);}
    50% {transform: scale(1) rotate(10deg);}
    100% {transform: scale(1) rotate(0deg);}
}

.order-foodbtn{
    width: 175px;
    height: 50px;
    font-style: italic;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    background-color: black;
    color: white;
}

.order-foodbtn:hover{
    background-color: rgba(114, 50, 27, 0.527);
    transition: all 0.3s ease-in-out;
    transition-delay: 0.3s;
}

/*animate__animated animate__flash animate__infinite*/

/*----------------------- End Section-1 -----------------------*/